.header {
  position: fixed;
  display: inline-block;
  background-color: white;
  width: 100%;
  height: 100px;
  z-index: 3;
}

.contents {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
}

.logo_area {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.search_area {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 80%;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 50%;
  padding: 10px;
  transition: 0.2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

.menu_area {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.fancy {
  background-color: transparent;
  height: 60%;
  width: 60%;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 5%;
  outline: none;
  overflow: visible;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition:
    width 0.5s ease-out,
    left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition:
    width 0.5s ease-out,
    right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition:
    width 0.5s ease-out,
    right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: black;
}

.fancy:hover::before {
  width: 0.9375rem;
  background: white;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

.logo {
  height: 80px;
  width: 96%;
  max-width: 150px;
}

.search_input {
  display: flex;
  width: 200px;
  height: 30px;
  justify-content: center;
}

/***************************/
/********* CardBuy *********/
/***************************/

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.main .h3 {
  font-size: 24px;
  margin-left: 12%;
  position: relative;
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: bold;
  margin-top: 1%;
}

.main .h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  color: #000;
  border-bottom: 1px solid #000;
  position: absolute;
  left: -3%;
  bottom: -50%;
}

.main_con {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-left: 10%;
}

.main_con .left_img {
  width: 100%;
  margin-right: 5%;
  position: relative;
  border: 2px solid #000;
  border-radius: 20px;
}

.main_con .left_img img {
  width: 100%;
}

.main_con .left_img span {
  font-size: 24px;
  font-weight: bold;
}

.main_con .left_img span:nth-of-type(1) {
  position: absolute;
  bottom: 25%;
  right: 4%;
}

.main_con .left_img span:nth-of-type(2) {
  position: absolute;
  bottom: 15%;
  right: 4%;
}

.main_con .left_img span:nth-of-type(3) {
  position: absolute;
  bottom: 5%;
  right: 4%;
}

.main_con .right_text {
  width: 100%;
  padding-left: 0;
  padding-top: 5%;
  font-weight: bold;
}

.main_con .right_text li {
  margin-bottom: 15%;
  font-size: 24px;
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}

.main_con .right_text li input {
  padding: 10px;
  margin-left: 4%;
  border-radius: 20px;
  border: 2px solid #000;
}

.buy_cancle {
  width: 100%;
  margin: 50px auto 0;
  text-align: center;
}

.buy_cancle button {
  padding: 15px 45px;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
  border: 5px solid #000;
  border-radius: 20px;
  font-weight: bold;
}

.buy_cancle a {
  padding: 15px 45px;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  border: 5px solid #000;
  border-radius: 20px;
  transition: 0.5s;
  font-weight: bold;
}

.buy_cancle button:hover,
.buy_cancle a:hover {
  color: #fff;
  background: #000;
  border: 5px solid #d6d6d6;
}

.buy_cancle button:nth-of-type(1) {
  margin-right: 5%;
}

.modal2 {
  width: 40%;
  position: absolute;
  background: lightgrey;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 50%;
  border: 5px solid #000;
  border-radius: 20px;
}

.modal2 h3 {
  font-size: 36px;
}

.modal_buy_cancle {
  width: 100%;
  margin: 150px auto 0;
  text-align: center;
}

.modal_buy_cancle button {
  padding: 15px 45px;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
  border: 5px solid #000;
  border-radius: 20px;
  font-weight: bold;
}

.modal_buy_cancle button:hover {
  color: #fff;
  background: #000;
  border: 5px solid #d6d6d6;
}

.modal_buy_cancle button:nth-of-type(1) {
  margin-right: 5%;
}

.buySub {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 95%;
  height: 350px;
  padding: 10%;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.inputForm {
  padding-left: 50px;
}

.inputForm div {
  padding: 5px;
}

.inputForm div div {
  width: 35%;
  font-size: large;
  display: inline-block;
}

.inputForm div input {
  width: 65%;
}

.BuyBtn {
  padding-left: 80px;
}

.card {
  display: flex;
}

.card div {
  position: absolute;
}

.card_name {
  right: 0;
  padding-top: 70px;
  padding-right: 35px;
  font-size: x-large;
}

.card_position {
  right: 0;
  padding-top: 100px;
  padding-right: 35px;
  font-size: medium;
}

.card_attach {
  right: 0;
  padding-top: 125px;
  padding-right: 35px;
  font-size: x-small;
}

.modaltop {
  padding-top: 15%;
  font-size: x-large;
}

.modalbtm {
  padding-top: 3%;
  font-size: x-large;
  padding-bottom: 10%;
}

/***************************/
/******* CardDetail ********/
/***************************/

.main {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 100px;
}

.main_contents {
  display: flex;
  padding-top: 5%;
  width: 100%;
}

.detailTitle {
  padding-top: 20px;
  font-size: x-large;
  font-weight: bold;
}

.detailImg {
  width: 45%;
  height: 420px;
  margin-left: 5%;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
}

.detailImg img {
  width: 100%;
}

.detailDesc {
  padding-left: 5%;
  padding-right: 5%;
  width: 50%;
}

.detailCate {
  font-size: larger;
  padding-bottom: 5px;
}

.detailName {
  font-size: x-large;
  font-weight: bold;
}

.detailAuthor {
  padding-bottom: 5px;
}

.detailSub {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 95%;
  height: 350px;
  padding: 8%;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.detailDes {
  padding-bottom: 5px;
}

.detailPrice {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: x-large;
}

.detailBuy {
  display: inline-flex;
}

.card {
  width: 100%;
}

/***************************/
/********** Items **********/
/***************************/

.profile-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.items-area {
  display: flex;
  justify-content: center;
}

.main-areas {
  margin-top: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-area h4 {
  text-align: center;
}

/***************************/
/********** Main ***********/
/***************************/

.mainpage {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

.cate {
  padding-left: 15%;
  display: flex;
}

.catebtn {
  border: 1.5px solid black;
  padding: 3px;
  width: 100px;
  margin: 7px;
  color: #f5f0f0;
  background-color: #101014;
  box-shadow: 3px 3px 6px #101014;
  transition: transform 0.3s ease-in-out;
}

.catebtn:hover {
  background-color: #f5f0f0;
  color: #101014;
  transform: scale(1.01);
}

.subtitle {
  padding-left: 15%;
  padding-top: 2%;
  font-size: 20px;
  font-weight: 700;
}

.main_profile {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_content {
  width: 70%;
  height: 90%;
  border: 2px solid black;
  overflow: hidden;
  --border-radius: 15px;
  --primary-color: #abcbf6;
  --secondary-color: #c9bcf5;
  font-family: "Arial";
  cursor: pointer;
  border-radius: 17px;
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
}

.main_profileImg {
  width: 100%;
  height: 100%;
}

.main_profile_title {
  padding-left: 15px;
  padding-top: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #f1f1f3;
  display: flex;
  position: absolute;
  top: 0;
}

.main_sub_title {
  position: absolute;
  display: flex;
  width: 100%;
  color: #f1f1f3;
  padding: 0.4rem;
  bottom: 0;
  left: 0;
}

.main_arrow {
  position: absolute;
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_content svg {
  transition: 0.2s;
}

/* hover */
.main_content:hover .main_profile_title {
  color: var(--primary-color);
  text-decoration: underline;
}

.main_content:hover .main_arrow,
.main_sub_title {
  background: #111;
}

.main_content:hover .main_arrow svg {
  transform: translateX(3px);
}

.new_profile {
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.new_content {
  width: 30%;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
}

.new_content img {
  width: 100%;
  height: 100%;
}

.cardtitle {
  position: absolute;
  color: #101014;
  bottom: 0;
  right: 0;
  padding-right: 7%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: end;
  transform: scale(0);
  transition: 0.5s;
}

.new_content:hover {
  border: #000000 0.1em solid;
}

.new_content:hover .cardtitle {
  transform: scale(1);
  bottom: 25px;
}

.cardtitle span {
  font-size: smaller;
}

.author_profile1 {
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.author_content1 {
  width: 30%;
  height: 70%;
  border: 5px solid black;
  border-radius: 20px;
  display: flex;
}

.author_profile2 {
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.author_content2 {
  width: 30%;
  height: 70%;
  border: 5px solid black;
  border-radius: 20px;
  display: flex;
}

.cate_profile {
  width: 70%;
  height: 20%;
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

/***************************/
/****** MainpageProfile ****/
/***************************/

.profileImg {
  position: relative;
}

.profileImg div {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  color: aliceblue;
  font-size: x-large;
  font-weight: 800;
}

.menu-buttons {
  padding-bottom: 10px;
}

.buy_profile {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.sell_profile {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

/***************************/
/****** MainProfile ********/
/***************************/

.profile {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 100px;
}

.menu-buttons {
  display: flex;
  justify-content: left;
}

.menu-buttons button {
  margin: 10px;
}

.nav-item {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.input-box {
  width: 200px;
}

.input-area {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.button-area {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.button-area Button {
  margin: 20px;
}

.profileDefault {
  width: 3%;
  cursor: pointer;
}

.sellDprofile {
  padding-top: 100px;
  justify-content: center;
  text-align: center;
}

.sellAprofile {
  justify-content: center;
  text-align: center;
}

.sellAprofile div {
  padding: 8px;
}

.sellAprofile div div {
  display: inline-block;
  text-align: left;
  width: 180px;
}

.sellAprofile div input {
  width: 200px;
}

.sellAprofiledesc {
  font-size: small;
}

/***************************/
/******* ProfileSell *******/
/***************************/

.profile {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 100px;
}

.menu-buttons {
  display: flex;
  justify-content: left;
}

.menu-buttons button {
  margin: 10px;
}

.input-box-dropdown {
  width: 370px;
}

#dropdown-basic {
  width: 370px;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  height: 28px;
}

.dropdown button {
  border-radius: none;
}

.text-right {
  text-align: center;
}
.profile {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 100px;
}
