.profileImg {
    position: relative;
}

.profileImg div {
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    color: aliceblue;
    font-size: x-large;
    font-weight: 800;
}

.menu-buttons {
    padding-bottom: 10px;
}

.buy_profile {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.sell_profile {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}